################################
## White list based gitignore ##
################################

# forbidden
*
.*

# allowed
!.gitignore
!.gitattributes
!.drone.yml
!Makefile
!CMakeLists.txt
!*.c
!*.md
!*.h
